<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/css/mainStyles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login por formulario</title>
</head>
<body>
    <h1>JaggerStore</h1>
    {{{body}}} 
</body>
</html>